version: '3.8'

services:
  tf:
    image: gcloud-tf-go:latest
    build: .
    env_file:
    - variables.env
    volumes:
      - ..:/data
      - ./volumes/home:/root
      - [PATH TO SERVICE ACCOUNT JSON]:/variables/service-account.json:ro
